:root {
    --primario: #ae887b;
    --secundario: #3A4E4F;
    --texto: #1D1B1B;
    --blanco: #FFFFFF;
    --negro: #000000;

    --fuentePrincipal: 'Raleway', sans-serif;
    --fuenteSecundaria: 'Roboto', sans-serif;
    --fuenteTerciaria: 'Lily Script One', system-ui;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(174, 136, 123, 0.75), rgba(174, 136, 123, 0.75)), url(../img/Background\ ppal..png);
    background-color: #ae887b80;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    overflow-x: hidden;
}

.style-nav {
    background-color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

.color-blanco {
    color: var(--blanco);
}

.padd-nav {
    margin-left: 1.8rem;
}

.padd-nav_one {
    margin-left: 15rem;
}

@media (max-width: 850px) {
    .padd-nav {
        margin-left: 0;
    }

    .padd-nav_one {
        margin-left: 0;
    }
}

@media (max-width: 900px) {
    .padd-nav {
        margin-left: 0;
    }
}

.hov {
    cursor: pointer;
}

.style-img_home {
    max-width: 100%;
}

.bg-img_home {
    background-image: url(../img/novia\ ramo\ foto\ hermosa\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 35rem;
}

.position_home {
    display: flex;
}

.style-sec_home {
    margin-left: 10rem;
    margin-top: 10rem;
}

@media (max-width: 500px) {
    .style-sec_home {
        margin-left: 2rem;
        margin-top: 10rem;
    }
}

.margin__home {
    margin-top: 15rem;
}

.style-title_home {
    font-family: var(--fuenteTerciaria);
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.08em;
    text-align: left;
    color: var(--blanco);
}

.style-parrafo_home {
    font-family: var(--fuenteTerciaria);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--blanco);
}

.style-button_home {
    font-family: var(--fuenteSecundaria);
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.12em;
    text-align: center;
    width: 115.88px;
    height: 37.08px;
    top: 222.49px;
    left: 120.52px;
    border-radius: 18.54px;
    background-color: var(--texto);
    color: var(--blanco);
    box-shadow: -2.3176352977752686px -2.3176352977752686px 2.3176352977752686px 0px #AE887B80;
    box-shadow: 2.3176352977752686px 1.1588176488876343px 9.270541191101074px 0px #FFFFFF;
}

.style-p_main {
    font-family: var(--fuentePrincipal);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--texto);
}

.style-cards_home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.style-card_title {
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    font-size: 0.8rem;
    text-align: start;
}

.card_style-border {
    background-image: url(../img/glass\ bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 2px 4px 8px 0px #2F2B2B3D;
}

.cuadro-home {
    width: 1200px;
    height: 480px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.style-cuadro_home {
    display: flex;
    justify-content: space-around;
    padding-top: 1.7rem;
}

@media (max-width: 1050px) {
    .section_home {
        display: none;
    }
}

@media (min-width: 1050px) {
    .section_home2 {
        display: none;
    }
}

.style-cuadro_title {
    font-family: var(--fuentePrincipal);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}

.style-cuadro_button {
    width: 200px;
    height: 56px;
    top: 3435px;
    left: 624px;
    border-radius: 30px;
    border: 1px solid var(--texto);
    background: transparent;
    font-family: var(--fuenteSecundaria);
    font-weight: 700;
    font-size: 1rem;
}

footer {
    background-color: var(--secundario);
}

/*CONTACTO*/

.bg-img_contact {
    background-image: url(../img/header-contacto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 35rem;
}

.bord-rad_contact {
    border-radius: 30px;
}

.style-font_contact {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 18px;
    font-weight: 500;
}

.style-form_contact {
    border: 2px solid #fafafa10;
    border-radius: 30px;
}

.glass-effect {
    background-image: url(../img/glass\ bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem)
}

.lay {
    width: 60rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

@media (max-width: 1000px) {
    .lay {
        width: 500px;
        height: 600px;
        border-radius: 30px;
        display: block;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .lay {
        width: 350px;
        height: 500px;
        border-radius: 30px;
        display: block;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    .style-contact_map {
        margin-top: 3rem;
    }
}

@media (max-width: 1000px) {
    .style-map {
        margin-top: 3rem;
    }
}

@media (max-width: 500px) {
    .style-map {
        width: 300px;
        height: 250px;
    }
}

.style-icon_contact {
    text-decoration: none;
    font-family: var(--fuentePrincipal);
    font-weight: 400;
    font-size: 20px;
    color: var(--negro);
    text-align: start;
}

.lay2 {
    text-align: start;
}

@media (max-width: 1000px) {
    .lay2 {
        margin-top: 3rem;
        text-align: center;
    }
}

.style-button_contact {
    text-align: center;
    background-color: var(--texto);
    height: 50px;
    top: 222.49px;
    left: 120.52px;
    border-radius: 30px;
    box-shadow: -2.3176352977752686px -2.3176352977752686px 2.3176352977752686px 0px #AE887B80;
    box-shadow: 2.3176352977752686px 1.1588176488876343px 9.270541191101074px 0px #FFFFFF;
}

.style-button_form {
    background-color: var(--texto);
    color: var(--blanco);
    font-family: var(--fuenteSecundaria);
    font-weight: 700;
    font-size: 15px;
    line-height: 23.44px;
    border-radius: 30px;
}

/*BLOG*/

.bg-img_blog {
    background: linear-gradient(#2f2b2b18, #2f2b2b93), url(../bg-blog.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 35rem;
}

@media (max-width: 500px) {
    .style-card_blog {
        margin-top: 3rem;
    }
}

.style-blog_tx {
    text-decoration: none;
    color: #363636;
    font-family: var(--fuenteSecundaria);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.style-blog_tx1 {
    font-family: var(--fuenteSecundaria);
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #363636;
}

.style-blog_tx2 {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--texto);
}

.style-blog_tx3 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #75464A;
}

@media (max-width: 1000px) {
    .mq-blog {
        display: block;
        width: 350px;
    }
}

.style-blog_pie {
    background-image: url(../img/bg-blogdown.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.style-blog_inp1 {
    width: 350px;
    height: 50px;
}

.style-blog_inp2 {
    border: 4px solid #FFFFFF;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background: transparent;
}

.style-blog_inp3 {
    font-family: var(--fuentePrincipal);
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.12em;
    text-align: left;
    color: var(--texto);
}

/*TIENDA*/
.bg-img_tienda {
    background: linear-gradient(#2f2b2b18, #2f2b2b93), url(../bg-tienda.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 35rem;
}

.style-tienda_cont {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-left: 0;
}

.style-tienda_tittle {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--texto);
}

.bg-tienda_card {
    background: transparent;
    border: 0;
}

.style-button_tienda {
    height: 40px;
    background-color: var(--texto);
    box-shadow: 1px 1px 14.441176414489746px 0px #FFFFFF;
}

.style-button_tienda {
    font-family: Raleway;
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--blanco);
    text-align: center;
}